body {
  background-color: whitesmoke;
}

.App {
  display: flex;
  text-align: center;
  width: 100vw;
  height: 100vh;
}


.flex2 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: row wrap;
}

.a1 {
  width: 500px;
  height: 225px;
  margin-left: 70px;
  margin-right: 20px;
  margin-top: 20px;
}

.a3 {

  width: 351px;
  height: 195px;
  font-size: 1em;
  background-color: rgb(47, 64, 80);
  margin-right: 20px;
  margin-left: 20px;
  margin-top: -150px;
  display: flex;
  justify-items: center;
  align-items: center;
  border-radius: 13px;
}

.a4 {
  width: 390px;
  height: 400px;
  margin-right: 20px;
  margin-left: 200px;
  margin-top: 20  px;
}

.a5 {
  width: 351px;
  height: 195px;
  background-color: rgb(50, 50, 90);
  margin-right: 20px;
  margin-left: 20px;
  margin-top: -150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.a6 {
  width: 500px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}